* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

.container {
  margin: 15rem 25rem;
  display: flex;
  gap: 3.2rem;
  opacity: 0;
  transition: opacity 1s ease-in-out;
}

.country {
  display: flex;
  flex-direction: column;
  border-radius: 1rem;
  width: 20%;
  transition: all 0.5s;
  /* border: 1px solid #868e96; */
  box-shadow: 3px 1px 2px 2px rgba(0, 0, 0, 0.247);
}

.country:hover {
  cursor: pointer;
  transform: translateY(-10px);
  box-shadow: 3px 1px 2px 2px rgba(0, 0, 0, 0.541);
}

.country-info {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 1rem;
  margin-top: 2rem;
  padding-left: 1rem;
  margin-bottom: 1rem;
}

.country-name {
  font-size: 3.2rem;
  font-weight: 500;
}

.continent {
  font-size: 1.6rem;
}

.flag-div {
  border-bottom: 1px solid rgba(0, 0, 0, 0.363);
}
.flag {
  border-top-left-radius: 1rem;
  border-top-right-radius: 1rem;
  width: 100%;
}

.fax {
  font-size: 1.8rem;
}

.country-form {
  border: 1px solid rgba(0, 0, 0, 0.349);
  padding: 1.2rem;
  font-size: 2.4rem;
  display: block;
  gap: 1rem;
  margin: 3.2rem 60rem;
  display: none;
}
.coordinates-form {
  border: 1px solid rgba(0, 0, 0, 0.349);
  padding: 1.2rem;
  font-size: 2.4rem;
  display: block;
  gap: 1rem;
  margin: 3.2rem 60rem;
  display: none;
}

.emoji {
  font-size: 2.4rem;
}
.country-neighbor {
  display: flex;
  flex-direction: column;
  border-radius: 1rem;
  width: 15%;
  transition: all 0.5s;
  /* border: 1px solid #868e96; */
  box-shadow: 3px 1px 2px 2px rgba(0, 0, 0, 0.247);
}

.country-neighbor:hover {
  cursor: pointer;
  transform: translateY(-7px);
  box-shadow: 2px 0.5px 1px 1px rgba(0, 0, 0, 0.541);
}
.flag-div-neighbor {
  border-bottom: 1px solid rgba(0, 0, 0, 0.363);
}
.country-info-neighbor {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 1rem;
  margin-top: 2rem;
  padding-left: 1rem;
}
.country-info-neighbor span {
  font-size: 1.6rem;
}

.country-name-neighbor:after {
  content: "Neighboring Country";
  background-color: #495057;
  color: #fff;
  font-size: 9px;
  margin-left: 10px;
  padding: 4px;
}

.country-name-neighbor {
  font-size: 2rem;
  font-weight: 500;
}

.alert {
  display: none;
  padding: 1.4rem;
  background-color: #f44336;
  color: #fff;
  margin-bottom: 1.6rem;
}

.cont {
  display: flex;
  justify-content: space-between;
}

.alert-message {
  font-size: 1.4rem;
}

.close-btn {
  margin-left: 1.6rem;
  font-weight: bold;
  font-size: 1.8rem;
  cursor: pointer;
  transition: all 0.5s;
  justify-content: end;
}

.close-btn:hover {
  color: #000;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.drop-btn {
  background-color: #f76707;
  color: #fff;
  cursor: pointer;
  border: none;
  padding: 1.2rem;
  transition: all 0.5s;
}

.drop-btn:hover {
  background-color: #fd7e14;
}

.my-dropdown {
  display: none;
  position: absolute;
  background-color: #ced4da;
  border: none;
}

.my-dropdown button {
  text-decoration: none;
  display: block;
  color: #000;
  font-size: 1.1rem;
  padding: 1rem;
  cursor: pointer;
  width: 100%;
}

.my-dropdown button:hover {
  background-color: #f8f9fa;
}

.show-links {
  display: block;
}
