* {
  margin: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

.container {
  max-width: 120rem;
  margin: 15rem 12rem;
}

.grid-2-col {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  column-gap: 3.2rem;
}

.country-1 {
  grid-column: 1;
  box-shadow: 3px 1px 2px rgba(0, 0, 0, 0.541);
}
.country-2 {
  grid-column: 2;
  box-shadow: 3px 1px 2px rgba(0, 0, 0, 0.541);
}

.flag-container {
  border-radius: 50%;
}

.country-info {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 1rem;
  margin-top: 2rem;
}

.country {
  font-size: 3.2rem;
  font-weight: 500;
}

.continent {
  font-size: 1.6rem;
}

.fax {
  font-size: 1.8rem;
}
